In [356]:
def recite(start_verse, end_verse):
    
    start = {
    
    1: "first",
    2: "second",
    3: "third",
    4: "fourth",
    5: "fifth",
    6: "sixth",
    7: "seventh",
    8: "eighth",
    9: "nineth",
    10: "tenth",
    11: "eleventh",
    12: "twelfth"
    
        }
    
    end = [

    'a Partridge in a Pear Tree.',
    'two Turtle Doves, and ',
    'three French Hens, ',
    'four Calling Birds, ',
    'five Gold Rings, ',
    'six Geese-a-Laying, ',
    'seven Swans-a-Swimming, ',
    'eight Maids-a-Milking, ',
    'nine Ladies Dancing, ',
    'ten Lords-a-Leaping, ',
    'eleven Pipers Piping, ',
    'twelve Drummers Drumming, '
    
        ]
    
        
    
    end_result = "".join(end[:end_verse][::-1])
    
    print (f"On the {start[start_verse]} day of Christmas my true love gave to me: {end_result}")

In [360]:
recite(6,6)

On the sixth day of Christmas my true love gave to me: six Geese-a-Laying, five Gold Rings, four Calling Birds, three French Hens, two Turtle Doves, and a Partridge in a Pear Tree.

In [359]:
def test(end_verse):
    
    end = ['a Partridge in a Pear Tree.',
 'two Turtle Doves, and ',
 'three French Hens, ',
 'four Calling Birds, ',
 'five Gold Rings, ',
 'six Geese-a-Laying, ',
 'seven Swans-a-Swimming, ',
 'eight Maids-a-Milking, ',
 'nine Ladies Dancing, ',
 'ten Lords-a-Leaping, ',
 'eleven Pipers Piping, ',
 'twelve Drummers Drumming, ']
    
    end_result = "".join(end[:end_verse][::-1])
    
    return end_result

In [353]:
test(2)

'two Turtle Doves, and a Partridge in a Pear Tree.'

In [269]:
start = {
    
    1: "first",
    2: "second",
    3: "third",
    4: "fourth",
    5: "fifth",
    6: "sixth",
    7: "seventh",
    8: "eighth",
    9: "nineth",
    10: "tenth",
    11: "eleventh",
    12: "twelfth"
    
        }

['first',
 'second',
 'third',
 'fourth',
 'fifth',
 'sixth',
 'seventh',
 'eighth',
 'nineth',
 'tenth',
 'eleventh',
 'twelfth']

['first',
 'first',
 'first',
 'first',
 'first',
 'first',
 'first',
 'first',
 'first',
 'first',
 'first',
 'first']

In [309]:
end = end[::-1]

In [320]:
end = ['twelve Drummers Drumming, ',
 'eleven Pipers Piping, ',
 'ten Lords-a-Leaping, ',
 'nine Ladies Dancing, ',
 'eight Maids-a-Milking, ',
 'seven Swans-a-Swimming, ',
 'six Geese-a-Laying, ',
 'five Gold Rings, ',
 'four Calling Birds, ',
 'three French Hens, ',
 'two Turtle Doves, and ',
 'a Partridge in a Pear Tree.']

In [323]:
end = ['a Partridge in a Pear Tree.',
 'two Turtle Doves, and ',
 'three French Hens, ',
 'four Calling Birds, ',
 'five Gold Rings, ',
 'six Geese-a-Laying, ',
 'seven Swans-a-Swimming, ',
 'eight Maids-a-Milking, ',
 'nine Ladies Dancing, ',
 'ten Lords-a-Leaping, ',
 'eleven Pipers Piping, ',
 'twelve Drummers Drumming, ']

In [340]:
x = 4
result = "".join(end[:4][::-1])

In [341]:
print (f"my true love gave to me: {result}")

my true love gave to me: four Calling Birds, three French Hens, two Turtle Doves, and a Partridge in a Pear Tree.

In [339]:
end[:4:]

['four Calling Birds, ',
 'three French Hens, ',
 'two Turtle Doves, and ',
 'a Partridge in a Pear Tree.']

In [342]:
end

['a Partridge in a Pear Tree.',
 'two Turtle Doves, and ',
 'three French Hens, ',
 'four Calling Birds, ',
 'five Gold Rings, ',
 'six Geese-a-Laying, ',
 'seven Swans-a-Swimming, ',
 'eight Maids-a-Milking, ',
 'nine Ladies Dancing, ',
 'ten Lords-a-Leaping, ',
 'eleven Pipers Piping, ',
 'twelve Drummers Drumming, ']